{% extends 'base_back.html.twig' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form class="form-sample">
       <a href="{{ path('app_reservation_index') }}">   <i class="ti-home"> </i>  </a>

        </form>
    <h1>Paiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ModalitePaiement</th>
                <td>{{ paiement.modalitePaiement }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ paiement.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ paiement.date ? paiement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type reservation </th>
                <td>{{ paiement.idReservation.type}}</td>
            </tr>
        </tbody>

    </table>
        </form>
    </div>
</div>





{% endblock %}
