{% extends 'base_front.html.twig' %}




{% block content %}

    <br>
    <br>
    <br>
    <br>
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h1 class="page-title">Liste des Vols</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fe   fe-box mr-1"></i> Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">



                                    {% for vol in vols %}
                                        <body>
                                        <div class="snip1265">

                                            <div class="plan">
                                                <header><i class="ion-ios-navigate-outline"></i>
                                                    <h4 class="plan-title">
                                                        Vol num°: {{ vol.idVol }}
                                                    </h4>
                                                    <div class="plan-cost"><span class="plan-price">Prix : {{ vol.prix }} DNT</span><span class="plan-type"></span></div>
                                                </header>
                                                <ul class="plan-features">
                                                    <li>Ville depart : {{ vol.villeDepart }}<i class="ion-ios-navigate-outline"></i>
                                                    </li>

                                                    <li>Ville arrivée : {{ vol.villeArrivee }}<i class="ion-ios-navigate-outline"></i>
                                                    </li>

                                                    <li>Date Depart : {{ vol.getDateDepart()|date('d-m-y H:i')  }}<i class="ion-ios-navigate-outline"></i>
                                                    </li>

                                                    <li>Date arrivée : {{ vol.getDateArrivee()|date('d-m-y H:i')  }}<i class="ion-ios-navigate-outline"></li>
                                                    </li>
                                                    <li>Nombre de Place dispo : {{ vol.NbrPlacedispo }}<i class="ion-ios-navigate-outline"></li>
                                                    </li>
                                                </ul>
                                                </div>
                                            <hr>
                                        </div>
                                        </body>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
