{% extends 'base_front.html.twig' %}




{% block content %}

    <br>
    <br>
    <br>
    <br>
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h1 class="page-title">Vol</h1>

            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="wd-15p">DateDepart</th>
                                        <th class="wd-15p">DateArrivee</th>
                                        <th class="wd-15p">VilleDepart</th>
                                        <th class="wd-15p">VilleArrivee</th>
                                        <th class="wd-15p">NbrPlacedispo</th>
                                        <th class="wd-15p">Prix</th>
                                        <th class="wd-15p">Reserver </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for vol in vols %}
                                        <tr>

                                            <td>{{ vol.dateDepart ? vol.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ vol.dateArrivee ? vol.dateArrivee|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ vol.villeDepart }}</td>
                                            <td>{{ vol.villeArrivee }}</td>
                                            <td>{{ vol.nbrPlacedispo }}</td>
                                            <td>{{ vol.prix }}</td>
                                            <td> <a href="{{ path('cart_add',{'id':vol.idVol}) }}" class="btn btn-success float-right"> reserver </td>

                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="9">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
