{% extends 'base_front.html.twig' %}




{% block content %}

    <br>
    <br>
    <br>
    <br>
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <header>
                <h2 class="main-heading">Liste des Vols</h2>
                </header>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index1.html.twig"><i class="fe   fe-box mr-1"></i>Voyager en toute sécurité </a></li>
                </ol>
            </div>
            <div class="pull-right">
                <a href=" {{ path('sortedVol',{'id':1} ) }}" class="btn btn-info" > trier par prix</a>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">




                                    {% for vol in vols %}
                                        <body>
                                        <div class="snip1265">

                                                <div class="content-holder list-view">
                                                <header><i class="ion-ios-navigate-outline"></i>

                                                    <div class="content-holder content-sub-holder">
                                                        <div class="row db-3-col" >
                                                            <article class="col-sm-6 article has-hover-s1">
                                                                <div class="thumbnail">

                                                                <h4 class="plan-title">
                                                        <div class="img-wrap">
                                                            <img src="{{ asset('front/img/listing/pays.jpg')}}" height="228" width="350" alt="image description">
                                                        </div>
                                                                    <h2 class="main-heading">Vol num°: {{ vol.numVol }}</h2>
                                                    </h4>
                                                                    <h5> <div class="plan-cost"><span class="plan-price">${{ vol.prix }} </span><span class="plan-type"></span></div></h5>
                                                                    <ul class="info">
                                                                        <span class="country"><span class="icon-world"></span> Ville depart : {{ vol.villeDepart }}</span>
                                                                        <br>
                                                                        <span class="country"><span class="icon-world"></span> Ville arrivée : {{ vol.villeArrivee }}</span>
                                                                        <br>
                                                                        <span class="level"><span class="icon-level4"></span> Date Depart : {{ vol.getDateDepart()|date('d-m-y H:i')  }} </span>
                                                                        <br>
                                                                        <span class="level"><span class="icon-level4"></span> Date arrivée : {{ vol.getDateArrivee()|date('d-m-y H:i')  }}</span>
                                                                        <br>
                                                                        <span class="plane"><span class="icon-plane"> Nombre de Place dispo : {{ vol.NbrPlacedispo }}
                                                                    </ul>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    </div>

                                                </header>


                                                        </div>


                                        </div>
                                        </body>

                                    {% endfor %}
                                </table>

                    </div>

                </div>
                    </div>

                    <div class="owl-pagination">
                        <a class="navigation" >{{ knp_pagination_render(vols) }}</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
