{{ form_start(form,{attr:{'novalidate':'novalidate'}}) }}
{{ form_label(form.objet) }}{{ form_widget(form.objet) }}
<br>
{{ form_label(form.description) }}{{ form_widget(form.description) }}


<div class="btn-hold">
    <button type="submit" class="btn btn-default">
      Ajouter
    </button>
</div>
{{ form_end(form) }}
