{% extends 'base_back.html.twig' %}

      {% block content %}
<body>
<div class="table-responsive pt-3">
    <table class="table table-bordered table-striped">
        <tbody>

        <thead>
            <tr class="table-info" >
                <th>Id</th>
                <th>DateReservation</th>
                <th>NbrPlace</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Etat</th>
                <th> type</th>
                <th> Action </th>
            </tr>
        </thead>
        {% for reservation in reservations %}
            <tr>
                <td >{{ reservation.id }}</td>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.nbrPlace }}</td>
                <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.etat }}</td>
                <td>{{ reservation.type }}</td>
                <td>
                    <a class="btn btn-primary me-2" href="{{ path('detailsR', {'id': reservation.id}) }}"> Afficher paiement  </a>
<a class="btn btn-primary me-2"  href="{{ path('app_reservation_delete', {'id': reservation.id}) }}"> Delete</a>
</td>
            </tr>
        {% else %}
            <tr class="table-warning">
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

</body>
          <a href="{{ path('app_vv') }}" class="btn btn-primary">statistique</a>
          </div>
{% endblock %}
