{% extends 'base_back.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block content %}

<div class="demo-wrapper inner-main common-spacing container">
    <table class="table table-striped table-hover data-table">
        <thead>
        <tr class="table-info">
                <th>Refavis</th>
                <th>Message</th>
                <th>Date</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.refavis }}</td>
                <td>{{ avi.message }}</td>
                <td>{{ avi.date ? avi.date|date('Y-m-d') : '' }}</td>
                <td>{{ avi.rating }}</td>
                <td>
                    <a class="btn btn-primary me-2"  href="{{ path('app_avis_show', {'refavis': avi.refavis}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
