{% extends 'base_front.html.twig' %}
 {% block panier %}
     <span class="text hidden-xs hidden-sm">  {{ app.request.cookies.get('nombre') }} </span>
 {% endblock %}



{% block content %}


<main id="main">
    <div class="inner-top">
        <div class="container">
            <h1 class="inner-main-heading"> Liste des Reservations </h1>
        </div>
    </div>
    <div class="inner-main common-spacing container">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>

                                        <th>DateReservation</th>
                                        <th>NbrPlace</th>
                                        <th>DateDebut</th>
                                        <th>DateFin</th>
                                        <th>Etat</th>
                                        <th> type</th>
                                        <th> Action </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reservation in reservations %}
                                        <tr>

                                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
                                        <td>{{ reservation.nbrPlace }}</td>
                                        <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                                        <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                                        <td>{{ reservation.etat }}</td>
                                        <td>{{ reservation.type }}</td>
                                        <td>
                                        <a class="btn btn-default" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Annuler </a>
                                        <a class="btn btn-default" href="{{ path('detailsRFront', {'id': reservation.id}) }}">Paiement </a>
                                    {% else %}
                                        <tr>
                                            <td colspan="9">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
    </div>
</main>


{% endblock %}
