{% extends 'base_front.html.twig' %}


{% block content %}

    <br>
    <br>
    <br>
    <br>
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <header>
                    <h2 class="main-heading">Liste des voyages organises </h2>
                </header>

            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">



                                    {% for voy in voyageorganises %}
                                        <body>
                                        <div class="snip1265">

                                            <div class="content-holder list-view">
                                                <header><i class="ion-ios-navigate-outline"></i>

                                                    <div class="content-holder content-sub-holder">
                                                        <div class="row db-3-col" >
                                                            <article class="col-sm-6 article has-hover-s1">
                                                                <div class="thumbnail">


                                                                    <h4 class="plan-title">
                                                                        <div class="img-wrap">
                                                                            <img src="{{ asset('../front/img/listing/img-17.jpg')}}" height="228" width="350" alt="image description">
                                                                        </div>
                                                                        <ul>
                                                                        <h3 class="main-heading">categorie de voyage: {{ voy.idcat.nomcat }}</h3>

                                                                        </ul>
                                                                    </h4>
                                                                    <h5> <div class="plan-cost"><span class="plan-price">${{ voy.prix }} </span><span class="plan-type"></span></div></h5>
                                                                    <ul class="info">
                                                                        <span class="country"><span class="icon-world"></span> Ville depart : {{ voy.villedepart }}</span>
                                                                        <br>
                                                                        <span class="country"><span class="icon-world"></span> Ville destination : {{ voy.villedest }}</span>
                                                                        <br>
                                                                        <span class="level"><span class="icon-level4"></span> Date Depart : {{ voy.getDatedepart()|date('d-m-y H:i')  }} </span>
                                                                        <br>
                                                                        <span class="level"><span class="icon-level4"></span> Date arrivée : {{ voy.getDatearrive()|date('d-m-y H:i')  }}</span>
                                                                        <br>
                                                                        <span class="plane"><span class="icon-plane"> Nombre de Place : {{ voy.NbrPlace }}
                                                                                <br>
                                                                        <span class="plane"><span > Description : {{ voy.description }}
                                                                    </ul>
                                                                </div>
                                                            </article>
                                                        </div>



                                                    </div>

                                                </header>


                                            </div>


                                        </div>


                                            <button class="button share_twitter" data-url="https://twitter.com/intent/tweet?text=">
                                                Partager sur twitter
                                            </button>
                                            <button class="button share_facebook" data-url="https://www.facebook.com/sharer/sharer.php?u=">
                                                Partager sur facebook
                                            </button>
                                            <button class="button share_gplus" data-url="https://plus.google.com/share?url=">
                                                Partager sur google+
                                            </button>
                                            <button class="button share_linkedin" data-url="https://www.linkedin.com/shareArticle?url=">
                                                Partager sur linkedin
                                            </button>

                                            <script>

                                                (function(){

                                                    var popupCenter = function(url, title, width, height){
                                                        var popupWidth = width || 640;
                                                        var popupHeight = height || 320;
                                                        var windowLeft = window.screenLeft || window.screenX;
                                                        var windowTop = window.screenTop || window.screenY;
                                                        var windowWidth = window.innerWidth || document.documentElement.clientWidth;
                                                        var windowHeight = window.innerHeight || document.documentElement.clientHeight;
                                                        var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
                                                        var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
                                                        var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
                                                        popup.focus();
                                                        return true;
                                                    };

                                                    document.querySelector('.share_twitter').addEventListener('click', function(e){
                                                        e.preventDefault();
                                                        var url = this.getAttribute('data-url');
                                                        var shareUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(document.title) +
                                                            "&via=Grafikart_fr" +
                                                            "&url=" + encodeURIComponent(url);
                                                        popupCenter(shareUrl, "Partager sur Twitter");
                                                    });

                                                    document.querySelector('.share_facebook').addEventListener('click', function(e){
                                                        e.preventDefault();
                                                        var url = this.getAttribute('data-url');
                                                        var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url);
                                                        popupCenter(shareUrl, "Partager sur facebook");
                                                    });

                                                    document.querySelector('.share_gplus').addEventListener('click', function(e){
                                                        e.preventDefault();
                                                        var url = this.getAttribute('data-url');
                                                        var shareUrl = "https://plus.google.com/share?url=" + encodeURIComponent(url);
                                                        popupCenter(shareUrl, "Partager sur Google+");
                                                    });

                                                    document.querySelector('.share_linkedin').addEventListener('click', function(e){
                                                        e.preventDefault();
                                                        var url = this.getAttribute('data-url');
                                                        var shareUrl = "https://www.linkedin.com/shareArticle?url=" + encodeURIComponent(url);
                                                        popupCenter(shareUrl, "Partager sur Linkedin");
                                                    });

                                                })();
                                            </script>

                                        </body>
                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}










