{% extends 'base_back.html.twig' %}



{% block content %}
    <main id="main">


        <li
        <h2> chercher un voyage organise </h2>

        <div class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" id="search" class="form-control" placeholder="rechercher">
            </div>
            <!-- /input-group -->
        </div>
        <ul class="nav" id="side-menu">
            <li>

                <ul class="nav nav-second-level" id="entitiesNav">
                </ul>
            </li>
        </ul><br><br><br><br>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var searchRequest = null;
                $("#search").keyup(function() {
                    var minlength = 3;
                    var that = this;
                    var value = $(this).val();
                    var entitySelector = $("#entitiesNav").html('');
                    if (value.length >= minlength ) {
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('ajax_search') }}",
                            data: {
                                'q' : value
                            },
                            dataType: "text",
                            success: function(msg){
                                //we need to check if the value is the same
                                if (value==$(that).val()) {
                                    var result = JSON.parse(msg);
                                    $.each(result, function(key, arr) {
                                        $.each(arr, function(id, value) {

                                            if (id != 'error') {
                                                entitySelector.append('<li> idvoy:<h1  style="color:white !important;"class="headline">'+value[0]+'</h1> villedepart: <p  style="color:green !important;" class="para para-light py-3">'+value[1]+' </p> villedest :<p  style="color:green !important;" class="para para-light py-3">'+value[2]+' </p> datedepart : <p  style="color:green !important;" class="para para-light py-3">'+value[3]+' </p> datearrive : <p  style="color:green !important;" class="para para-light py-3">'+value[4]+' </p> nbrplace : <p  style="color:green !important;" class="para para-light py-3">'+value[5]+' </p> idcat : <p  style="color:green !important;" class="para para-light py-3">'+value[6]+' </p> prix : <p  style="color:green !important;" class="para para-light py-3">'+value[7]+' </p> description : <p  style="color:green !important;" class="para para-light py-3">'+value[8]+' </p></li>');
                                            }

                                            else {
                                                entitySelector.append('<li style="color:red;">'+value+'</li>');
                                            }

                                        });
                                    });
                                }
                            }
                        });
                    }
                });
            });
        </script> </li>


        {% block title %}Voyageorganise {% endblock %}

    <table class="table">
        <thead>
            <tr>
                <th>Idvoy</th>
                <th>Villedepart</th>
                <th>Villedest</th>
                <th>Datedepart</th>
                <th>Datearrive</th>
                <th>Nbrplace</th>
                <th>Idcat</th>
                <th>Prix</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyageorganise in voyageorganises %}
            <tr>
                <td>{{ voyageorganise.idvoy }}</td>
                <td>{{ voyageorganise.villedepart }}</td>
                <td>{{ voyageorganise.villedest }}</td>
                <td>{{ voyageorganise.datedepart ? voyageorganise.datedepart|date('Y-m-d H:i:s') : ''}}</td>
                <td>{{ voyageorganise.datearrive ? voyageorganise.datearrive|date('Y-m-d H:i:s') : ''}}</td>
                <td>{{ voyageorganise.nbrplace }}</td>
                <td>{{ voyageorganise.idcat }}</td>
                <td>{{ voyageorganise.prix }}</td>
                <td>{{ voyageorganise.description }}</td>
                <td>
                    <a href="{{ path('app_voyageorganise_show', {'idvoy': voyageorganise.idvoy}) }}">show</a>
                    <a href="{{ path('app_voyageorganise_edit', {'idvoy': voyageorganise.idvoy}) }}">edit</a>
                    <a href="{{ path('app_voyageorganise_delete', {'idvoy': voyageorganise.idvoy}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyageorganise_new') }}">Create new</a>
</main>
{% endblock %}
