{% extends 'base_back.html.twig' %}


{% block title %}Activite index{% endblock %}

{% block content %}

    <div class="table-responsive pt-3 border-3">
        <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-info">
                <th>Refact</th>
                <th>Nom</th>
                <th>Descrip</th>
                <th>Duree</th>
                <th>Nbrplace</th>
                <th>Date</th>
                <th>Type</th>
                <th>Location</th>
                <th>Prix</th>
                <th>ImageFile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}

                <td>{{ activite.refact}}</td>
                <td>{{ activite.nom }}</td>
                <td>{{ activite.descrip }}</td>
                <td>{{ activite.duree }}</td>
                <td>{{ activite.nbrplace }}</td>
                <td>{{ activite.date ? activite.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activite.type }}</td>
                <td>{{ activite.location }}</td>
                <td>{{ activite.prix }}</td>
                <td> {{ activite.image}}</td>
                <td>
                    <a class="btn btn-primary me-2"  href="{{ path('app_activite_show', {'refact': activite.refact}) }}">Afficher</a>
                    <a class="btn btn-primary me-2" href="{{ path('app_activite_edit', {'refact': activite.refact}) }}">Modifier </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
