
{% block content %}
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}} ) }}
    <div class="card-body">

        <form>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">le paye de votre hebergement </label>
                {{ form_widget(form.paye , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.paye) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Adresse de votre hebergement </label>
                {{ form_widget(form.adress , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.adress) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Prix </label>
                {{ form_widget(form.prix , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.prix) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Description </label>
                {{ form_widget(form.description , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.description) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Photos URL </label>
                {{ form_widget(form.photo , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.photo) }}</code></p>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Debut de date </label>
                {{ form_widget(form.dateStart , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.dateStart) }}</code></p>
                </div>
            </div>


            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Jusqu'a</label>
                {{ form_widget(form.dateEnd , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.dateEnd) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">votre mail ou telephone </label>
                {{ form_widget(form.contact , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.contact) }}</code></p>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Nomber d'etoile </label>
                {{ form_widget(form.nbrDetoile , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.nbrDetoile) }}</code></p>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Nomber de suite</label>
                {{ form_widget(form.nbrSuite , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.nbrSuite) }}</code></p>
                </div>
            </div>
                <div class="form-group">
                    <label class="form-label" for="exampleInputEmail2">Nombre de place parking </label>
                    {{ form_widget(form.nbrParking , {'attr': {'class': 'form-control form-control-user' }} ) }}
                    <div>
                        <p class="card-description"> <code> {{ form_errors(form.nbrParking) }}</code></p>
                    </div>
                </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Model de votre caravan</label>
                {{ form_widget(form.modelCaravane , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.modelCaravane) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Type de votre hebergement</label>
                {{ form_widget(form.idCateg , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.idCateg) }}</code></p>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail2">Offreur</label>
                {{ form_widget(form.offreur , {'attr': {'class': 'form-control form-control-user' }} ) }}
                <div>
                    <p class="card-description"> <code> {{ form_errors(form.offreur) }}</code></p>
                </div>
            </div>


            <div class="form-group mb-0">
                <div class="checkbox checkbox-secondary">
                    {{ form_widget(form) }}
                    <button type="SubmitType" class="btn btn-primary ">{{ button_label|default('Save') }}</button>
                </div>
            </div>

        </form>
    </div>
    {{ form_end(form) }}
{% endblock %}