{% extends 'base_front.html.twig' %}


{% block content %}

    <br>
    <br>
    <br>
    <br>
    <center><h1>Votre Hebergement</h1></center>
    <table class="table">
        <tbody>
            <tr>
                <th>Referance</th>
                <td>{{ hebergement.referance }}</td>
            </tr>
            <tr>
                <th>Paye</th>
                <td>{{ hebergement.paye }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ hebergement.adress }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ hebergement.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergement.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ hebergement.photo }}" style="height:100px;width:100px"></td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ hebergement.dateStart ? hebergement.dateStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ hebergement.dateEnd ? hebergement.dateEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ hebergement.contact }}</td>
            </tr>
            <tr>
                <th>NbrDetoile</th>
                <td>{{ hebergement.nbrDetoile }}</td>
            </tr>
            <tr>
                <th>NbrSuite</th>
                <td>{{ hebergement.nbrSuite }}</td>
            </tr>
            <tr>
                <th>NbrParking</th>
                <td>{{ hebergement.nbrParking }}</td>
            </tr>
            <tr>
                <th>ModelCaravane</th>
                <td>{{ hebergement.modelCaravane }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('QrcodeHebergement', {'referance': hebergement.referance}) }}">QrCODE </a>


    <a class="btn btn-default" href="{{ path('app_hebergement_edit', {'referance': hebergement.referance}) }}">Modifer </a>

    <a class="btn btn-default" href="{{ path('app_hebergement_index') }}">Back to List </a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}
