

{{ form_start(form, {'attr': {'novalidate':'novalidate'}} )}}
<div class="card-body">

    <form>
        <div class="form-group">
            <label class="form-label" for="exampleInputname">Nombre de Place</label>
            {{ form_widget(form.nbrPlace , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'nbrPlace'}} ) }}
            <div>
                <p class="card-description"> <code> {{ form_errors(form.nbrPlace) }}</code></p>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="exampleInputname">Nom Avion </label>
            {{ form_widget(form.nomAvion , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'nomAvion'}} ) }}
            <div>
                <p class="card-description"> <code>{{ form_errors(form.nomAvion) }}</code></p>
        </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="exampleInputEmail2">Id agent</label>
            {{ form_widget(form.idAgence , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'idAgence'}} ) }}
            {{ form_errors(form.idAgence) }}
        </div>


        <div class="form-group mb-0">
            <div class="checkbox checkbox-secondary">
                {{ form_widget(form) }}
                <button type="SubmitType" class="btn btn-primary ">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </form>
</div>



{{ form_end(form) }}