<!DOCTYPE html>

<title>Avion index</title>

{% block body %}
    <h1>Avion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAvion</th>
                <th>NbrPlace</th>
                <th>NomAvion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avion in avions %}
            <tr>
                <td>{{ avion.idAvion }}</td>
                <td>{{ avion.nbrPlace }}</td>
                <td>{{ avion.nomAvion }}</td>
                <td>
                    <a href="{{ path('app_avion_show', {'idAvion': avion.idAvion}) }}">show</a>
                    <a href="{{ path('app_avion_edit', {'idAvion': avion.idAvion}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avion_new') }}">Create new</a>
{% endblock %}
