{% extends 'base_back.html.twig' %}



{% block content %}

    <div class="table-responsive pt-3">
        <table class="table table-bordered table-striped">
            <tbody>
            <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Password</th>
                <th>Securityq</th>
                <th>Answer</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Numtel</th>
                <th>Nomagence</th>
                <th>Role</th>
                <th>Etat</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
            </thead>

            {% for user in users %}
                <tr >
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.securityq }}</td>
                    <td>{{ user.answer }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.numtel }}</td>
                    <td>{{ user.nomagence }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.etat }}</td>
                    <td>{{ user.solde }}</td>
                    <td>
                        <a class="btn btn-primary me-2" href="{{ path('delete', {'id': user.id}) }}" >Supprimer</a>
                        <a class="btn btn-primary me-2" href="{{ path('app_user_edit', {'id': user.id}) }}" >Modifier</a>
                    </td>

                </tr>
            {% else %}
                <tr class="table-warning">
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary me-2" href="{{ path('app_user_newback') }}">Ajouter un utilisateur</a>
    </div>







{% endblock %}