{% extends 'base_front.html.twig ' %}
 {% block panier %}
     <span class="text hidden-xs hidden-sm">  {{ app.request.cookies.get('nombre') }} </span>
 {% endblock %}
{% block content %}




<main id="main">
    <div class="inner-main common-spacing container">
    <div class="bg-light p-3">
    </div>

    <div class="row">

        {% for voyageorganise in voyageorganises %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>

                        {{ voyageorganise.villedepart }}
                       {{ voyageorganise.villedest }}
                        {{ voyageorganise.datedepart }}
                        {{ voyageorganise.datearrive }}
                        {{ voyageorganise.nbrplace }}
                        {{ voyageorganise.prix }}
                    </h2>

                    <hr>
                    <a href="{{ path('cart_add',{'id':voyageorganise.idVoy}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
    </div>
</main>
    {% endblock %}



