{% extends 'base_back.html.twig' %}

{% block content %}

<div class="table-responsive pt-3">
    <table class="table" border="1">


        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Securityq</th>
                <td>{{ user.securityq }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ user.answer }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ user.numtel }}</td>
            </tr>
            <tr>
                <th>Nomagence</th>
                <td>{{ user.nomagence }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ user.etat }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ user.solde }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    {{ include('user/_delete_form.html.twig') }}
</div>


{% endblock %}
